.myBG {
  height: 100vh;
  background: url("../assets/images/bg/main.jpg");
  background-size: cover;
}

.intro {
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

#card {
  background-color: #0b0c0e;
}

.trending {
  height: auto;
  background-size: cover;
}

.movieWrapper{
  width:180px;
  height:380px;
}

.movieImage {
  width: 100%;
  height: 250px;
  background: none !important;
  margin: 5px;
  border-radius: 6px;
  border: none !important;
}

.images {
  height: 250px;
  border-radius: 5px;
}

.text {
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
}

.desc {
  height: 340px;
}

.upcoming {
  height: auto;
  background-size: cover;
}

@media (max-width: 576px) {
  .intro{
    height: 300px;
  }

  #logo{
    font-size: 1rem;
  }
  
  .link{
    font-size: 0.85rem;
  }

  .movieImage{
    width: 150px;
    height: 225px;
  }  

  .movieWrapper{
    display: grid;
    justify-content: center;
  }
  
  .title-2 {
    text-align: center !important;
    font-size: 20px;
  }

  .myBG {
    background-size: cover;
    height: 100vh;
  }

  .title {
  font-size: 1.5rem;
  }

}